/*!
 * Bootscore custom styles
 */

// Add your own code here!
// Because this file is compiled after Bootstrap, you're also able to use Bootstrap mixins for better code.
// Some examples can be found here: https://bootscore.me/documentation/bootstrap-css-sass

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


// Color system
// scss-docs-start gray-color-variables
$white:                           #fff;
$gray-100:                        #f8f9fa;
$gray-200:                        #e9ecef;
$gray-300:                        #dee2e6;
$gray-400:                        #ced4da;
$gray-500:                        #adb5bd;
$gray-600:                        #6c757d;
$gray-700:                        #495057;
$gray-800:                        #343a40;
$gray-900:                        #212529;
$black:                           #000;

// scss-docs-start color-variables
$blue:                            #0d6efd;
$indigo:                          #6610f2;
$purple:                          #6f42c1;
$pink:                            #d63384;
$red:                             #dc3545;
$orange:                          #fd7e14;
$yellow:                          #ffc107;
$green:                           #198754;
$teal:                            #20c997;
$cyan:                            #0dcaf0;

// scss-docs-start theme-color-variables
$primary:                         $blue;
$secondary:                       $gray-600;
$success:                         $green;
$info:                            $cyan;
$warning:                         $yellow;
$danger:                          $red;
$light:                           $gray-100;
$dark:                            $gray-900;

// Settings for the `<body>` element.
$body-bg:                         $pink;
$body-color:                      $gray-900;

$body-tertiary-color:             rgba($body-color, .5);
$body-tertiary-bg:                $gray-100;

// Dark mode
$body-bg-dark:                    $gray-900;
$body-color-dark:                 $gray-500;

$body-tertiary-color-dark:        rgba($body-color-dark, .5);
$body-tertiary-bg-dark:           mix($gray-800, $gray-900, 50%);

// Navbar
$navbar-light-color:              rgba($black, .55);
$navbar-light-hover-color:        rgba($black, .7);
$navbar-light-active-color:       rgba($black, .9);


// Border radius
$border-radius:                   .375rem;
$border-radius-sm:                .25rem;
$border-radius-lg:                .5rem;
$border-radius-xl:                1rem;
$border-radius-2xl:               2rem;
$border-radius-pill:              50rem;
// Checkboxes
$form-check-input-border-radius:  .25em;


// Style anchor elements.
$link-decoration:                 underline;
$link-hover-decoration:           null;


// Fonts
$font-family-base:                Montserrat, Roboto, system-ui, -apple-system, "Segoe UI",  "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

// Headings & display
$headings-font-family:            null;
$headings-font-weight:            500;
$display-font-weight:             300;


//Custom
header{
    .navbar-brand{
        .logo{
            height: 60px;
            width: auto;
        }
    }
}
.bounce {
    animation: bounce 2s infinite;
}
/* owl */

.mouse{
    position: relative;
    bottom: 3rem;
    left: 50%;
    margin-left: -20px;
    width: 40px;
    height: 40px;
    text-align: center;
    color: $white;
    font-size: 1.5rem;
    display: block;
    z-index: 4;
}
.owl-main-banner {

    .owl-nav{
        position: absolute;
        top: calc(50% - 0.625rem);
        width: 100%;

        .owl-prev{
            position: absolute;
            left: 1.5rem;
            line-height: 1!important;
            width: 1.25rem;
            height: 1.25rem;
            font-size: 1.25rem!important;
            color: var(--primary-dark-color)!important;
        }
        .owl-next{
            position: absolute;
            right: 1.5rem;
            line-height: 1!important;
            width: 1.25rem;
            height: 1.25rem;
            font-size: 1.25rem!important;
            color: var(--primary-dark-color)!important;
        }
    }
    .owl-dots{
        position: absolute;
    /*  width: 100%; */
        bottom:1rem;
        left: 1rem;
        text-align: center;

        ::before{
            content:'';
            display: block;
            width: 1px;
            height: 15px;
            margin-bottom: 5px;
            margin-left: 9px;
            background-color: transparent;
        }
        ::after{
            content:'';
            display: block;
            width: 1px;
            height: 15px;
            margin-top: 5px;
            margin-left: 9px;
            background-color: transparent;
        }
        .owl-dot{
            background-color: transparent;
            border: 1px solid $gray-500!important;
            width: 15px;
            height: 15px;
            margin: 30px 2px 20px;
            border-radius: 50%;
            display: block;
        
        span{
            width: 20px;
            position: absolute;
            display: block;
            font-size: 10px;
            margin-left: -3px;
            margin-top: -22px;
            /* pointer-events: none; */
            transform: rotate(-90deg);
            color: $gray-500;
        }
        &.active span{
            color: $white;
        }
        &.active{
            background-color: $white!important;
            border: 1px solid $white!important;
        }
        }
    }
    .item{


        .caption{
            position: relative;
            z-index: 2;
        
            .row{
                height: calc(60vh - 140px);
                text-align: center;
                align-items: center;
            }

            .btn-outline-primary{
                border-color: $white!important;
                color: $gray-100;
                font-size: 0.75rem!important;
            }
            .btn-outline-primary:hover{
                color: $gray-100!important;
            }
        }
    }
    @media(min-width:768px){
        .item{
            height: calc(100vh - 105px);
        
            .caption{
                position: relative;
                z-index: 2;
            
                .row{
                    height: calc(100vh - 105px);
                    align-items: center;
                    text-align: left;
                }
            }
        }
    }
}